<section class="w-full absolute inset-0 bg-homeBackground">
  <div
    class="flex flex-row justify-center items-center bg-gray-100 mt-24 h-auto"
  >
    <div class="flex flex-col justify-between items-center my-8 -mr-8 sm:mr-2 md:mr-4 lg:mr-8">
      <img
        src="assets/order/filter/tacos.jpg"
        alt=""
        class="w-full h-28 rounded-full object-cover hover:cursor-pointer"
      />
      <span class="text-gray-600 mt-4 text-xl sm:text-2xl">Tacos</span>
    </div>
    <div class="flex flex-col justify-between items-center my-8 -mr-8 sm:mr-2 md:mr-4 lg:mr-8">
      <img
        src="assets/order/filter/burger.jpg"
        alt=""
        class="w-full h-28 rounded-full object-cover hover:cursor-pointer"
      />
      <span class="text-gray-600 mt-4 text-xl sm:text-2xl">Burger</span>
    </div>
    <div class="flex flex-col justify-between items-center my-8">
      <img
        src="assets/order/filter/steak.jpg"
        alt=""
        class="w-full h-28 rounded-full object-cover hover:cursor-pointer"
      />
      <span class="text-gray-600 mt-4 text-xl sm:text-2xl">Steak</span>
    </div>
  </div>
  <div class="w-5/6 xl:w-4/6 mx-auto my-16">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <menu-item></menu-item>
      <menu-item></menu-item>
      <menu-item></menu-item>
    </div>
  </div>
</section>
