<nav class="w-full">
    <div class="flex items-center justify-between mx-12 p-2">
        <div class="flex w-2/5">
            <span class="text-blanco hover:text-opacity-80 duration-300">
                mardel Food
            </span>
        </div>
        <div class="flex w-auto">
            <shared-navbar-button [content]="'HOME'"> </shared-navbar-button>
            <shared-navbar-button [content]="'ORDER'"> </shared-navbar-button>
            <shared-navbar-button [content]="'LOG IN'"> </shared-navbar-button>
        </div>
    </div>
</nav>