<div class="flex flex-row justify-between border-2 border-gray-200 rounded-lg">
  <div class="flex flex-col justify-around m-3">
    <span class="text-gray-900 font-medium text-xl sm:text-2xl"
      >01. Cheeseburger</span
    >
    <span class="text-gray-400 font-light text-lg sm:text-lg line-clamp-2"
      >Just a cheesburger -- one piece of meat with a cheddar slice on it. Just a cheesburger -- one piece of meat with a cheddar slice on it.</span
    >
    <div class="flex flex-row justify-between items-center text-lg sm:text-xl">
      <span class="text-gray-900 font-normal">$4.99</span>
    </div>
  </div>
  <div class="relative min-w-40">
    <img
    src="assets/order/filter/burger.jpg"
    alt=""
    class="object-cover rounded-md w-40 h-full"
  />
  <button
        class="absolute bottom-0 right-0 mb-3 mr-3 bg-red-600 text-homeBackground w-10 h-10 font-medium rounded-full"
      >
        +
      </button>
  </div>
  
</div>
