<h1 mat-dialog-title>Menu Item</h1>
<form [formGroup]="menuItemForm" class="m-8" (ngSubmit)="onSubmit()">
  <div mat-dialog-container color="primary">
    <mat-form-field class="w-full mb-4">
      <mat-label>Dish name</mat-label>
      <input matInput formControlName="name" placeholder="Cheeseburger" [errorStateMatcher]="matcher"/>
      <mat-error
        *ngIf="
          menuItemForm.get('name')!.hasError('required') &&
          !menuItemForm.get('name')!.pristine
        "
      >
        <span>This field is required</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full mb-4">
      <mat-label>Description</mat-label>
      <input
        matInput
        formControlName="description"
        placeholder="Delicious burger with cheddar cheese & fries."
        [errorStateMatcher]="matcher"
      />
    </mat-form-field>
    <div class="grid grid-cols-2 gap-4">
      <mat-form-field floatLabel="always" class="w-full">
        <mat-label>Price</mat-label>
        <input
          matInput
          formControlName="price"
          class="text-right"
          placeholder="0"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="menuItemForm.get('price')?.hasError('required')">
          <span *ngIf="menuItemForm.get('price')?.hasError('required')"
            >Price is required</span
          >
        </mat-error>
        <mat-error *ngIf="menuItemForm.get('price')?.hasError('pattern')">
          <span *ngIf="menuItemForm.get('price')?.hasError('pattern')"
            >Price must be a number</span
          >
        </mat-error>
        <span matTextPrefix>$&nbsp;</span>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="text-[.7rem] sm:text-base text-wrap md:text-base">Food Type</mat-label>
        <mat-select formControlName="foodType" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let foodType of foodTypes" [value]="foodType">
            {{ foodType }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="menuItemForm.get('foodType')?.hasError('required') && !menuItemForm.get('foodType')?.pristine"
          >Please choose a food type</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="flex items-center justify-center mt-8 gap-4 text-center">
    <button mat-raised-button color="primary" type="submit" class="text-center items-center">
      <mat-label class="text-xs md:text-base items-center">Submit</mat-label>
      <mat-icon iconPositionEnd class="">
        upload
      </mat-icon>
    </button>
    <button mat-raised-button color="accent" type="button" class="" (click)="fileInput.click()">
        <mat-label class="text-xs md:text-base">
          Upload Image
        </mat-label>
        <mat-icon iconPositionEnd class="">
            download
          </mat-icon>
          <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
    </button>
  </div>
</form>

