<div class="fixed flex flex-col items-center right-0 top-0 bottom-0 backdrop-blur-md min-w-72 h-full border-[.05rem] border-gray-100 rounded-lg z-10">
    <button mat-icon-button class="self-start p-4" (click)="emitClose()">
        <mat-icon class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]" [ngStyle]="{'color': 'white'}">
            close
        </mat-icon>
    </button>
    <div class="flex flex-col justify-center items-center mt-4 w-full">
        <shared-navbar-button [content]="'HOME'" (click)="emitClose()" class="w-full h-16 text-base sm:text-lg text-center flex items-center justify-center border-gray-100 border-[.05rem] border-opacity-40"> </shared-navbar-button>
        <shared-navbar-button [content]="'MENU'" (click)="emitClose()" class="w-full h-16 text-base sm:text-lg text-center flex items-center justify-center border-gray-100 border-[.05rem] border-opacity-40"> </shared-navbar-button>
        <shared-navbar-button [content]="logInService.isAuthenticated ? 'LOG OUT' : 'LOG IN'" (click)="emitClose()" class="w-full h-16 text-base sm:text-lg text-center flex items-center justify-center border-gray-100 border-[.05rem] border-opacity-40"> </shared-navbar-button>
    </div>
</div>
 