body {
    font-size: 24px;
    font-family: "Rubik", sans-serif;
}

@import "tailwindcss/base" layer(tailwindcss);

@import "tailwindcss/components" layer(tailwindcss);

@import "tailwindcss/utilities" layer(tailwindcss);


html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"